{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card"
             style="padding: 5%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% image page.image original as image %}
                        <img src="{{ image.url }}"
                             class="card-img-top img-responsive"
                             alt="{{ image.alt }}">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12 text-center normal-p">
                        {% if page.template_language == 'fa' %}
                            {{ page.farsi_caption|richtext }}
                        {% elif page.template_language == 'en' %}
                            {{ page.english_caption|richtext }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="padding: 5%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% if page.template_language == 'fa' %}
                            {% for tag in page.farsi_tags.all %}
                                <a class="btn waves-effect waves-light btn-secondary normal-h4" style="margin-bottom: 1%;">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                            {% for tag in page.english_tags.all %}
                                <a class="btn waves-effect waves-light btn-secondary normal-h4" style="margin-bottom: 1%;">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        {% elif page.template_language == 'en' %}
                            {% for tag in page.english_tags.all %}
                                <a class="btn waves-effect waves-light btn-secondary normal-h4" style="margin-bottom: 1%;">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>