{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<div class="row">
    <div class="col-md-3">
        <div class="text-center" style="padding: 10%;">
            {% image ability.image width-90 height-90 as ability_img %}
            <img src="{{ ability_img.url }}"
                 class="img-thumbnail"
                 alt="{{ ability_img.alt }}">
        </div>
    </div>
    <div class="col-md-9">
        <p class="normal-p not-visible-small">
            {{ ability.name }}
        </p>
        <p class="normal-p text-center not-visible-big">
            {{ ability.name }}
        </p>
        <div class="x-small-p not-visible-small">
            {% if page.template_language == 'fa' %}
                {{ ability.farsi_summary|richtext }}
            {% elif page.template_language == 'en' %}
                {{ ability.summary|richtext }}
            {% endif %}
        </div>
        <div class="x-small-p text-center not-visible-big">
            {% if page.template_language == 'fa' %}
                {{ ability.farsi_summary|richtext }}
            {% elif page.template_language == 'en' %}
                {{ ability.summary|richtext }}
            {% endif %}
        </div>
    </div>
</div>
{% if not forloop.last %}
    <hr>
{% endif %}