{% load wagtailimages_tags %}

<div class="col-lg-6 not-visible-big">
    <div>
        <a href="{{ hero_page.get_url }}">
            {% image hero_page.hero.horizontal_image fill-5000x3000 as hero_img %}
            <img class="img-thumbnail" src="{{ hero_img.url }}" style="width: 100%; height: 100%;"
                 alt="{{ hero_img.alt }}">
        </a>
    </div>
    <div class="text-center">
        <p class="normal-p">
            {{ hero_page.hero.name }}
        </p>
    </div>
</div>

<div class="col-md-3 not-visible-small zoom" style="padding-left: 1%; padding-right: 1%;">
    <div class="zoom">
        <a href="{{ hero_page.get_url }}">
            {% image hero_page.hero.horizontal_image fill-5000x3000 as hero_img %}
            <img src="{{ hero_img.url }}" alt="{{ hero_img.alt }}"
                 style="width: 100%; height: 100%;">
        </a>
    </div>


</div>