<div class="col-lg-5 col-md-12">
    <div class="card"
         style="height: 100%;">
        <div style="height: 100%; display: table; padding-top: 5%; padding-left: 10%; padding-right: 10%;">
            <div style="display: table-cell; vertical-align: middle;" class="text-center">
                <div class="normal-h2">
                    {% if page.template_language == 'fa' %}
                        {{ section.farsi_title }}
                    {% elif page.template_language == 'en' %}
                        {{ section.title }}
                    {% endif %}
                </div>
                <br>
                <div class="normal-p">
                    {% if page.template_language == 'fa' %}
                        {{ section.farsi_description }}
                    {% elif page.template_language == 'en' %}
                        {{ section.description }}
                    {% endif %}
                </div>
                <br>
                <div class="normal-p">
                    "
                    {% if page.template_language == 'fa' %}
                        {{ section.quotation.farsi_text }}
                    {% elif page.template_language == 'en' %}
                        {{ section.quotation.text }}
                    {% endif %}
                    "
                </div>
                <div class="small-p">
                    {% if page.template_language == 'fa' %}
                        {{ section.quotation.farsi_name }}
                    {% elif page.template_language == 'en' %}
                        {{ section.quotation.name }}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>