{% load wagtailcore_tags %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card"
             style="padding: 5%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <video width="100%" height="100%" controls>
                            <source src="{{ page.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="normal-h1">
                            {% if page.template_language == 'fa' %}
                                {{ page.farsi_title|richtext }}
                            {% elif page.template_language == 'en' %}
                                {{ page.english_title|richtext }}
                            {% endif %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% if page.template_language == 'fa' %}
                            {{ page.farsi_caption|richtext }}
                        {% elif page.template_language == 'en' %}
                            {{ page.english_caption|richtext }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="padding: 5%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% if page.template_language == 'fa' %}
                            {% for tag in page.farsi_tags.all %}
                                <a class="btn waves-effect waves-light btn-secondary">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                            {% for tag in page.english_tags.all %}
                                <a class="btn waves-effect waves-light btn-secondary">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        {% elif page.template_language == 'en' %}
                            {% for tag in page.english_tags.all %}
                                <a class="btn waves-effect waves-light btn-secondary">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>