{% extends 'home/en/multilingual.html' %}

{% load staticfiles %}

{% block additional_css %}

    <link href="{% static 'dotahub/dark/dist/css/pages/chat-app-page.css' %}" rel="stylesheet">

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item normal-p"><a href="{{ page.get_home_page.get_url }}">Home</a></li>
    <li class="breadcrumb-item active normal-p">Blogs</li>

{% endblock %}

{% block main_content %}

    {% include 'home/posts/page.html' %}

{% endblock %}

{% block additional_js %}

    <script src="{% static 'dotahub/dark/dist/js/pages/chat.js' %}"></script>

{% endblock %}