{% extends 'home/en/multilingual.html' %}

{% load staticfiles %}

{% block additional_css %}

    <link href="{% static 'dotahub/dark/dist/css/pages/user-card.css' %}" rel="stylesheet">
    <link href="{% static 'dotahub/dark/dist/css/pages/ui-bootstrap-page.css' %}" rel="stylesheet">
    {% include 'home/heroes/heroes_page/heros_link_style.html' %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item normal-p"><a href="{{ page.get_parent.get_url }}">Home</a></li>
    <li class="breadcrumb-item active normal-p">Heroes</li>

{% endblock %}

{% block main_content %}

    {% include 'home/heroes/heroes_page/page.html' %}

{% endblock %}

{% block additional_js %}

    <script src="{% static 'dotahub/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dotahub/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup-init.js' %}"></script>
    {% include 'home/heroes/heroes_page/heroes_link_js.html' %}

{% endblock %}