{% extends 'home/en/multilingual.html' %}

{% load staticfiles %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block additional_css %}

{% endblock %}

{% block page_title %}
    {{ page.hero.name }}
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item normal-p"><a href="{{ page.get_home_page.get_url }}">Home</a></li>
    <li class="breadcrumb-item normal-p"><a href="{{ page.get_parent.get_url }}">Heroes</a></li>
    <li class="breadcrumb-item active normal-p">{{ page.hero.name }}</li>

{% endblock %}

{% block main_content %}

    {% include 'home/heroes/hero_page/page.html' %}

{% endblock %}

{% block additional_js %}

{% endblock %}

