{% extends 'home/fa/not_translated/multilingual.html' %}

{% load wagtailimages_tags %}

{% block additional_css %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item normal-p"><a href="{{ page.get_home_page.get_url }}">Home</a></li>
    <li class="breadcrumb-item active normal-p">Introduction</li>

{% endblock %}

{% block main_content %}

    {% for section in page.sections %}
        {% include 'home/introduction/section.html' %}
    {% endfor %}

{% endblock %}

{% block additional_js %}

{% endblock %}
