{% extends 'home/fa/multilingual.html' %}

{% load staticfiles %}

{% block additional_css %}

{% endblock %}

{% block page_title %}
    {{ page.hero.name }}
    ({{ page.hero.farsi_name }})
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item active normal-p">{{ page.hero.name }}</li>
    <li class="breadcrumb-item normal-p"><a href="{{ page.get_parent.get_url }}">هيرو ها</a></li>
    <li class="breadcrumb-item normal-p"><a href="{{ page.get_home_page.get_url }}">خانه</a></li>

{% endblock %}

{% block main_content %}

    {% include 'home/heroes/hero_page/page.html' %}

{% endblock %}

{% block additional_js %}

{#    <script src="{% static 'dotahub/assets/js/html2convas.js' %}"></script>#}
{##}
{#    <script>#}
{##}
{#        html2canvas(document.querySelector("#capture")).then(canvas => {#}
{#            document.getElementById('image-place').appendChild(canvas)#}
{#        });#}
{#    </script>#}

{% endblock %}

